/*!
* Perfect Couple - Wedding Site Theme
* Copyright 2014 Marcin Banaszek, Coffeecream Themes
*/

/* FONT FACES
=========================================================================================*/

/* latin */
@font-face {
  font-family: 'Engagement';
  font-style: normal;
  font-weight: 400;
  src: local('Engagement'), local('Engagement-Regular'), url('../fonts/IYnYh0uOiuydvYrbHKIjwQzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('../fonts/EInbV5DfGHOiMmvb1Xr-hg7aC6SjiAOpAWOKfJDfVRY.woff2') format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('../fonts/EInbV5DfGHOiMmvb1Xr-hhdwxCXfZpKo5kWAx_74bHs.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('../fonts/EInbV5DfGHOiMmvb1Xr-hp6vnaPZw6nYDxM4SVEMFKg.woff2') format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('../fonts/EInbV5DfGHOiMmvb1Xr-hvy1_HTwRwgtl1cPga3Fy3Y.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('../fonts/EInbV5DfGHOiMmvb1Xr-hvgrLsWo7Jk1KvZser0olKY.woff2') format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('../fonts/EInbV5DfGHOiMmvb1Xr-hojoYw3YTyktCCer_ilOlhE.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url('../fonts/EInbV5DfGHOiMmvb1Xr-hhampu5_7CjHW5spxoeN3Vs.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url('../fonts/5hX15RUpPERmeybVlLQEWBkAz4rYn47Zy2rvigWQf6w.woff2') format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url('../fonts/fU0HAfLiPHGlZhZpY6M7dBkAz4rYn47Zy2rvigWQf6w.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url('../fonts/CPRt--GVMETgA6YEaoGitxkAz4rYn47Zy2rvigWQf6w.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url('../fonts/I-OtoJZa3TeyH6D9oli3iXYhjbSpvc47ee6xR_80Hnw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* GLOBAL STYLES
=========================================================================================*/

body {
	overflow-x: hidden;
}

.inner {
	padding-top: 97px;
}

h1 {
	color: #fff;
	font-family: 'Engagement', cursive;
	font-weight: normal;
	margin: 0;
}

h2 {
	font-family: 'Engagement', cursive;
	font-weight: normal;
	margin: 0;
}

h3,h4,h5,h6 {
	margin: 3em 0;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

h6 {
	color: #d6516d;
}

a,
button {
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
}

a:hover {
	text-decoration: none;
}

p {
	margin: 0 0 1em;
}

hr {
	border-top: 3px solid #eee;
	margin: 30px 0;
}

img {
	display: inline-block !important;
}

section {
	padding: 80px 0;
}

.btn {
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

.btn-lg {
	font-size: 1em;
	padding: 15px 30px;
}

.video-engagement-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-engagement-wrapper iframe#video-engagement {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* MAIN BANNER
=========================================================================================*/

.tint {
	background: -moz-linear-gradient(-45deg,  rgba(214,81,110,0.2) 0%, rgba(214,81,110,0.2) 1%, rgba(82,178,189,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(214,81,110,0.2)), color-stop(1%,rgba(214,81,110,0.2)), color-stop(100%,rgba(82,178,189,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(214,81,110,0.2) 0%,rgba(214,81,110,0.2) 1%,rgba(82,178,189,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(214,81,110,0.2) 0%,rgba(214,81,110,0.2) 1%,rgba(82,178,189,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(214,81,110,0.2) 0%,rgba(214,81,110,0.2) 1%,rgba(82,178,189,0.2) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(214,81,110,0.2) 0%,rgba(214,81,110,0.2) 1%,rgba(82,178,189,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33d6516e', endColorstr='#3352b2bd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

.welcome {
	color: #fff;
	display: block;
	margin: 0 auto;
	position: absolute;
	top:33%;
	width: 100%;
	-webkit-transform: translateY(-33%);
	-moz-transform: translateY(-33%);
	-ms-transform: translateY(-33%);
	-o-transform: translateY(-33%);
	transform: translateY(-33%);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.welcome p {
	font-size: 18px;
	letter-spacing: 0.4em;
	margin: 0;
	text-transform: uppercase;
}

.welcome span {
	border: 0;
	border-top: 1px solid #fff;
	display: inline-block;
	margin: 6px 10px;
	width: 150px;
}

.welcome i {
	font-size: 18px;
}

/* COUNTDOWN
=========================================================================================*/

.countdown {
	top: 0;
	left: 50%;
	margin-left: -57px;
	position: absolute;
	width: 114px;
	z-index: 100;
	display: flex!important;
	justify-content: center!important;
  padding: 0;
}

.countdown span.countdown-row{
	padding: 0;
}

.countdown span.countdown-row.countdown-show1{
	display: flex!important;
	width: 100%!important;
}

.countdown span.countdown-row.countdown-show1 .countdown-section{
	padding: 0;
  margin: 0;
	width: 100%!important;
	height: 114px!important;
}

.countdown span.countdown-row.countdown-show1 .countdown-section::before,
.countdown span.countdown-row.countdown-show1 .countdown-section::after{
   content: "";
   position: absolute;
   border-style: solid;
   width: 0;
   height: 0;
   bottom: -10px;
   border-width: 10px 57px;
   border-color: transparent;
   border-top-color: #fff;
}

.countdown span.countdown-row.countdown-show1 .countdown-section::before{
  left: 0;
  border-left-color: #fff;
}

.countdown span.countdown-row.countdown-show1 .countdown-section::after{
  right: 0;
  border-right-color: #fff;
}

/* NAVBAR
=========================================================================================*/

.navbar {
	border-radius: 0;
}

.navbar.fixed {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.navbar-brand {
	padding: 20px 15px;
	font-family: 'Engagement', cursive;
	font-weight: normal;
	font-size: 4rem;
  line-height: 5rem;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: none !important;
}

.dropdown-menu {
	padding: 0;
}

.dropdown-menu > li > a {
	padding: 7px 20px;
	text-transform: none;
}

.navbar-collapse{
	text-transform: uppercase;
}

/* HEADINGS
=========================================================================================*/

.heading {
	padding-bottom: 60px;
}

.heading span {
	border: 0;
	border-top: 1px solid #d6516d;
	display: inline-block;
	margin: 5px 10px;
	width: 40px;
}

.heading i {
	color: #d6516d;
}

/* MAIN BANNER
=========================================================================================*/

.mobile-divider {
	display: none;
}

.hover-effect {
	display: inline-block;
	position: relative;
}

.hover-effect span {
	background: #d6516d;
	color: #fff;
	display: block;
	height: 0;
	left: 50%;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 0;
	transition: all .2s ease;
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
}

.hover-effect:hover span {
	height: 100%;
	left: 0;
	opacity: 0.8;
	top: 0;
	width: 100%;
}

.hover-effect i {
	left: 50%;
	margin: -20px 0 0 -20px;
	position: absolute;
	top: 0;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.hover-effect:hover i {
	top: 50%;
}

/* SOCIAL ICONS
=========================================================================================*/

.social-icons {
	list-style: none;
	padding: 1em 0;
}

.social-icons li {
	display: inline-block;
	margin: 0 2px;
}

.social-icons a {
	color: #333;
	border: 1px solid #333;
	border-radius: 50%;
	display: block;
	height: 30px;
	line-height: 30px;
	width: 30px;
}

.social-icons a:hover {
	border: 1px solid #d6516d;
	color: #d6516d;
}

/* PEOPLE & ACCOMMODATION
=========================================================================================*/

#people h5,
#accommodation h5 {
	margin: 0 0 8px;
}

#people h6,
#accommodation h6 {
	margin: 0 0 15px;
}

.row-margin {
	margin-bottom: 60px;
}

#people div.container .row .text-parents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 270px;
}

#people div.container .row .text-parents.visible-sm,
#people div.container .row .text-parents.visible-md
#people div.container .row .text-parents.visible-lg{
  display: flex!important;
}

/* EVENTS & BLOG
=========================================================================================*/

.blog-short {
	background: #fff;
	border-radius: 5px;
	margin-bottom: 30px;
	overflow: hidden;
	padding-bottom: 20px;
}

.blog-short h5,
.blog-short h6,
.blog-short p {
	padding: 0 30px;
}

.blog-short h5 {
	margin-bottom: 10px;
}

.blog-short h6 {
	margin-top: 0;
}

.post {
	padding-bottom: 80px;
}

.post-header {
	border-bottom: 1px solid #ddd;
	color: #222;
	line-height: 1.5em;
	margin: 0 0 0.5em;
	padding: 0 0 1em;
}

.post-header span {
	color: #d6516d;
}

.post-meta {
	color: #ccc;
	margin-bottom: 1.5em;
}

.post-meta span {
	margin-right: 15px;
}

.post-meta i {
	margin-right: 7px;
}

.post-intro {
	margin-bottom: 2em;
}

.comments {
	border-top: 1px solid #ddd;
	margin-top: 80px;
	padding-top: 80px;
}

.media {
	border-top: 1px solid #ddd;
	margin-top: 30px !important;
	padding-top: 30px;
}

.media-photo {
	max-width: 25%;
}

#events {
	overflow: hidden;
	position: relative;
}

#events .parallax {
	background: url('../images/parallax.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* FUN FACTS
=========================================================================================*/

#facts {
	overflow: hidden;
	position: relative;
}

#facts .parallax {
	background: url(http://placehold.it/1600x1600.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#facts h3 {
	color: #fff;
	font-size: 60px;
	letter-spacing: normal;
	margin: 0;
}

#facts h6 {
	color: #000;
	margin: 0;
}

#facts .img-circle {
	background: #d6516d;
	height: 213px;
	padding-top: 60px;
}

/* GALLERY
=========================================================================================*/

.gallery {
	list-style: none;
	padding: 0;
}

.gallery li {
	padding-bottom: 30px;
}

/* LOCATION
=========================================================================================*/

#location {
	padding: 0;
	position: relative;
}

#map-canvas {
	height: 600px;
	width: 100%;
}

/* RSVP
=========================================================================================*/

#rsvp {
	background: #d6516d;
	border-radius: 8px;
	color: #222;
	margin-right: -470px;
	padding: 50px;
	position: absolute;
	right: 50%;
	top: 50px;
	width: 400px;
	z-index: 100;
}

#rsvp .heading {
	padding-bottom: 20px;
}

#rsvp .heading i {
	color: #fff;
}

#rsvp .heading span {
	border-color: #fff;
}

#rsvp .btn {
	background: #222;
	color: #fff;
	margin-top: 20px;
}

/* REGISTRY
=========================================================================================*/

#registry {
	letter-spacing: 0.2em;
	padding: 30px 0;
	text-transform: uppercase;
}

#registry .item {
	padding: 15px;
	text-align: center;
}

#registry .item a {
	border: 1px solid #ddd;
	display: block;
	height: 80px;
	padding: 15px;
	position: relative;
}

#registry .item span {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#registry .item img {
	max-height: 50px;
	vertical-align: middle;
}

/* FOOTER
=========================================================================================*/

footer {
	background: #222;
	padding: 30px 0;
}

/* RESPONSIVE STYLES
=========================================================================================*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Large devices (large desktops, 1200px and up)
----------------------------------------------------------------------------------------*/
@media (min-width: 1200px) {

	#facts .img-circle {
		height: 263px;
		padding-top: 75px;
	}

	#facts h3 {
		font-size: 80px;
	}

	#rsvp {
		margin-right: -560px;
	}

}

/* Medium devices (desktops, 992px and up)
----------------------------------------------------------------------------------------*/
@media (max-width: 991px) {

	#facts .img-circle {
		height: 158px;
		padding: 37px 20px 0 20px;
	}

	#facts h3 {
		font-size: 50px;
	}

	#rsvp {
		margin-right: -360px;
	}

}

/* Small devices (tablets, 768px and up)
----------------------------------------------------------------------------------------*/
@media (max-width: 767px) {

	.btn {
		white-space: normal;
	}

	.text-left,
	.text-right,
	.col-sm-3 {
		text-align: center !important;
	}

	.mobile-divider {
		color: #000;
		display: block;
		margin: 30px 0;
		opacity: 0.1;
		text-align: center;
	}

	.mobile-divider span {
		border-top: 1px solid #000;
		display: inline-block;
		margin: 4px 10px;
		width: 90px;
	}

	h1 {
		font-size: 54px;
	}

	section {
		padding: 30px 0;
	}

	.welcome span {
		width: 90px;
	}

	.welcome {
		top:40%;
		width: 100%;
	}

	.heading {
		padding-bottom: 30px;
	}

	.post {
		text-align: center;
	}

	.post-header {
		margin: 1em 0 0.5em;
		padding: 0 0 1em;
	}

	.post-header span {
		display: block;
	}

	.post-meta span {
		display: block;
		margin: 0;
	}

	#people h5, #accommodation h5 {
		margin: 20px 0 8px;
	}

  #people div.container .row .text-parents{
    display: block;
    flex-direction: none;
    justify-content: none;
    height: auto;
  }

	#facts .img-circle {
		height: 120px;
		margin: 10px auto;
		padding: 20px 20px 0 20px;
		width: 120px;
	}

	#facts h3 {
		font-size: 40px;
	}

	#facts h6 {
		font-size: 12px;
	}

	#map-canvas {
		height: 250px;
	}

	#rsvp {
		border-radius: 0;
		margin-right: 0;
		padding: 60px 15px;
		position: relative;
		right: auto;
		top: auto;
		width: 100%;
	}

  .no-row-margin-mobile{
    margin-bottom: 0!important;
  }


  #people div.container .row .text-parents.hidden-xs{
    display: none!important;
  }

}
